In [1]:
from twitter import Tweets
from data_clean import clean_tweet

In [2]:
tweets = Tweets('elonmusk')

In [3]:
data = tweets.get_tweets(100)

In [4]:
datac = data.copy()

In [5]:
datac

,TweetId,User,Tweet,Time,nb_retweets,nb_favorites
0,1598477759730581504,elonmusk,Going live on Twitter in ~20 mins https://t.co...,2022-12-02 00:42:50+00:00,212,1729
1,1598420481769512960,elonmusk,ðŸ‡¯ðŸ‡µðŸ‡¯ðŸ‡µ Congratulations Japan! ðŸ‡¯ðŸ‡µðŸ‡¯ðŸ‡µ\nhttps://t.co...,2022-12-01 20:55:14+00:00,63028,449623
2,1598414428525199360,elonmusk,AI is getting really good https://t.co/OwQgDi4wun,2022-12-01 20:31:11+00:00,3838,33658
3,1598381157124837376,elonmusk,I meet so many people who read twitter every d...,2022-12-01 18:18:59+00:00,29489,352116
4,1598360883474108417,elonmusk,Lot of people stuck in a damn-thatâ€™s-crazy Cha...,2022-12-01 16:58:25+00:00,4606,57832
...,...,...,...,...,...,...
95,1592962254382604288,elonmusk,RT @Tesla: Model S received the highest overal...,2022-11-16 19:26:11+00:00,4132,0
96,1592771551111577600,elonmusk,RT @NASA: LIVE NOW: The #Artemis era of explor...,2022-11-16 06:48:24+00:00,11850,0
97,1592734699578761219,elonmusk,RT @Tesla: https://t.co/2Ylnmh97Oz,2022-11-16 04:21:58+00:00,9867,0
98,1592658210917609472,elonmusk,Punting relaunch of Blue Verified to November ...,2022-11-15 23:18:02+00:00,15044,224278
99,1592618665933156352,elonmusk,Welcoming back Ligma &amp; Johnson! https://t....,2022-11-15 20:40:54+00:00,48686,762270

In [7]:
import re

re.sub(r'https?://\S+', "", data['Tweet'][0])

'Going live on Twitter in ~20 mins '

In [11]:
clean_tweet(data['Tweet'][0])

'go live twitter 20 min https t co jdei5ituw3'