In [1]:
import pandas as pd

In [2]:
tweets = pd.read_csv('../assets/csv files/unified_tweets.csv')

In [3]:
tweets

,Unnamed: 0,TweetId,User,Tweet,Time,nb_retweets,nb_favorites
0,0,1598989666812071936,elonmusk,twitter server run warp 9,2022-12-03 10:36:59+00:00,17505,203313
1,1,1598864377750306816,elonmusk,tune episod 2 twitter file tomorrow,2022-12-03 02:19:07+00:00,48509,420641
2,2,1598825403182874625,elonmusk,go,2022-12-02 23:44:15+00:00,74825,323785
3,3,1598778884639653891,elonmusk,realli happen hunter biden stori suppress twit...,2022-12-02 20:39:24+00:00,96933,618083
4,4,1598770563597606917,elonmusk,major twitter system improv implement week dro...,2022-12-02 20:06:20+00:00,7588,51024
...,...,...,...,...,...,...,...
631,631,1525625936007372802,elonmusk,lawyer ate california,2022-05-14 23:55:42+00:00,5095,48175
632,632,1525612988115320838,elonmusk,import fix twitter feed 1 tap home button 2 ta...,2022-05-14 23:04:15+00:00,91661,532790
633,633,1525579400011345920,elonmusk,rt falcon 9 s first stage land read instruct d...,2022-05-14 20:50:47+00:00,4357,0
634,634,1525549535786717184,elonmusk,whoever thought own lib cheap never tri acquir...,2022-05-14 18:52:07+00:00,30048,383199
635,635,1525305145239781377,elonmusk,bot angri count,2022-05-14 02:41:00+00:00,55196,804351

In [4]:
data_retweets = tweets[['Tweet', 'Time', 'nb_retweets']]

data_favorites = tweets[['Tweet', 'Time', 'nb_favorites']]

train_data_retweets = data_retweets.iloc[100:,:]

test_data_retweets = data_retweets.iloc[:100,:]

train_data_favorites = data_favorites.iloc[100:,:]

test_data_favorites = data_favorites.iloc[:100,:]

In [6]:
pd.DataFrame.to_csv(train_data_retweets, '../assets/csv files/train/retweets.csv')

pd.DataFrame.to_csv(test_data_retweets, '../assets/csv files/test/retweets.csv')

pd.DataFrame.to_csv(train_data_favorites, '../assets/csv files/train/favorites.csv')

pd.DataFrame.to_csv(test_data_favorites, '../assets/csv files/test/favorites.csv')