In [1]:
import sys

sys.path.insert(1, '../processing')

from twitter import Tweets

from data_clean import clean_tweet

import pandas as pd

In [2]:
tweets = Tweets('elonmusk')

In [3]:
data = tweets.get_tweets(1000)

In [4]:
datac = data.copy()

In [5]:
datac

,TweetId,User,Tweet,Time,nb_retweets,nb_favorites
0,1598770563597606917,elonmusk,Major Twitter system improvements were impleme...,2022-12-02 20:06:20+00:00,1604,9423
1,1598765633121898496,elonmusk,Twitter is now serving almost 90 billion tweet...,2022-12-02 19:46:45+00:00,5245,56920
2,1598752139278532610,elonmusk,Hate speech impressions (# of times tweet was ...,2022-12-02 18:53:08+00:00,5355,46594
3,1598718904830132225,elonmusk,You know Twitter is being fair when extremists...,2022-12-02 16:41:04+00:00,23167,270621
4,1598714331872780288,elonmusk,RT @neuralink: Thank you for joining our live ...,2022-12-02 16:22:54+00:00,1267,0
...,...,...,...,...,...,...
634,1524924666942349312,elonmusk,Stop the war on straws! https://t.co/aHv7uvm17D,2022-05-13 01:29:06+00:00,20123,271198
635,1524911860037963776,elonmusk,Updated Starlink availability by region https:...,2022-05-13 00:38:13+00:00,8746,94365
636,1524883482836623373,elonmusk,Biden’s mistake is that he thinks he was elect...,2022-05-12 22:45:27+00:00,92780,1069995
637,1524881263470993435,elonmusk,Even though I think a less divisive candidate ...,2022-05-12 22:36:38+00:00,40405,574744
638,1524877470343766017,elonmusk,Don’t Diss Information,2022-05-12 22:21:34+00:00,24909,338634

In [6]:
pd.DataFrame.to_csv(datac, '../assets/csv files/raw_tweets.csv')

In [7]:
datac['Tweet'] = datac['Tweet'].apply(lambda tweet: clean_tweet(tweet))

In [8]:
pd.DataFrame.to_csv(datac, '../assets/csv files/unified_tweets.csv')